<form [formGroup]="packagingForm">
  <div class="col-12">
    <h2 class="text-xl font-bold mb-2">{{title}}</h2>
    <p class="text-gray-500 mb-4">Wypełnij wszystkie wymagane pola.</p>
  </div>

   <app-form-field
    id="code"
    type="text"
    label="Kod"
    placeholder="Wpisz kod"
    [packagingForm]="packagingForm"
    [errorMessage]="'Kod jest wymagany'"
  ></app-form-field>

   <app-form-field
    id="name"
    type="text"
    label="Nazwa"
    placeholder="Wpisz nazwę"
    [packagingForm]="packagingForm"
    [errorMessage]="'Nazwa jest wymagana'"
  ></app-form-field>

   <app-form-field
    id="brand"
    type="text"
    label="Marka"
    placeholder="Wpisz markę"
    [packagingForm]="packagingForm"
    [errorMessage]="'Marka jest wymagana'"
  ></app-form-field>

   <app-form-field
    id="availableQty"
    type="number"
    label="Ilość dostępna"
    placeholder="Wpisz ilość"
    [packagingForm]="packagingForm"
    [errorMessage]="'Wprowadź poprawną ilość'"
  ></app-form-field>

     <button
      pButton
      type="button"
      label="Zapisz"
      class="p-button-success"
      (click)="submitForm()"
      class="w-full"
    ></button>
 </form>
